<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     <class name="utils.Driver_Utils"/>
            <class name="com.categories.DiabeticsV"/>
            <class name="com.categories.HyperThyrodism"/>
           <class name="com.categories.PCOS_Scrapping"/>
            <class name="com.categories.HyperTension_Scraping"/>
            <class name="com.categories.Allergy"/>
    </classes>
  </test>
</suite>  
